/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1 {
  font-family: "Secular One";
  font-size: 40px;
  color: #4C2529;
  text-transform: uppercase;
  padding: 10px;
}


h2 {
  font-family: "Secular One";
  font-size: 24px;
  color: #4C2529;
  text-transform: uppercase;
  padding: 10px;
}

.H2_underline {
  //surcharge bootstrap
  opacity: 100% !important;
  height: 5px !important;
  width: 35%;
  color: #4C2529;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

.title {
  font-family: "Secular One";
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4C2529;
}

.subtitle {
  font-size: 14px;
  color: #4C2529;
}

p{
  font-size: 12px;
  margin-bottom: 0;
}

.link-guy {
  font-family: "Roboto Light";
  color: #4C2529;
  text-decoration: none;
}

.out_text {
  font-size: 14px;
  color: #C36033;
}