{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<h3>Nos catégories</h3>

    <table>
        <tr>
            <th>Nom</th>
        </tr>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('category_show', {'slug' : category.slug}) }}" >{{ category.title }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
