.banner_1 {
  height: 250px;
  background-image: url("/img/banner_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.banner_2 {
  height: 250px;
  background-image: url("/img/banner_2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.banner_3 {
  height: 250px;
  background-image: url("/img/banner_3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.banner_4 {
  height: 250px;
  background-image: url("/img/banner_4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.banner_5 {
  height: 250px;
  background-image: url("/img/banner_5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner_6 {
  height: 250px;
  background-image: url("/img/banner_6.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .banner_1 {
    height: 300px;
  }

  .banner_2 {
    height: 300px;
  }

  .banner_3 {
    height: 300px;
  }

  .banner_4 {
    height: 300px;
  }

  .banner_5 {
    height: 300px;
  }

  .banner_6 {
    height: 300px;
  }
}

