/*Navbar*/
.navbar {
  background-color: #FCF6EE;
  font-family: Secular One;
  color: #4C2529;
  text-transform: uppercase;
}
.navbar a {
  color: #4C2529;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-brand_img {
  width: 150px;
}

.nav-link_text {
  //surcharge bootstrap
  padding-right: 30px!important;
  padding-left: 30px!important;
}

@media (min-width: 992px) {
  .nav-link_icon {
    padding-left: 50px;
  }
}