{% extends 'base.html.twig' %}


{% block body %}
    <section class="banner_5">
    </section>
    <h1 class="text-center">Présentation de l'entreprise Mobil-Guy.com</h1>
    <section class="container d-flex flex-wrap">
        <div class="col-12 col-md-4 align-self-center ">
            <img src="/img/monsieur_guy.png"  class="aboutus_img" alt="Portrait de Monsieur GUY"
                 title="Photo de Monsieur Guy en 2021" />
        </div>
        <div class="col-12 col-md-8">
        <h2> Un fondateur surdoué </h2>
        <div>
            <p>
            Monsieur GUY , créateur de Mobil Guy.com, apparaît comme un patron un  peu « décalé ». Commençant sa carrière dans la mouvance culturelle des années 70 (d’où son surnom « d’entrepreneur hippy »), il est aujourd’hui un des symboles du capitalisme moderne.
            </p><p>
            Monsieur GUY  est né en 1950 ; enfant de caractère indépendant, il lance sa première « affaire » à l’âge de 11 ans en plantant des sapins qu’il espère pouvoir vendre à Noël mais l’entreprise échouera à cause de l’appétit de lapins qui se régaleront des jeunes pousses. Il était peu doué pour les études; en témoignent ses notes médiocres au lycée huppé de « Stowe » mais c’est là qu’il connut sa première réussite professionnelle en lançant un journal lycée, « Student », en 1966.
            </p><p>
            Fort de cette première expérience, il décide en 1969 de créer avec quelques camarades une activité de vente de téléphones par correspondance, « Guy Mobile » puis ouvre un magasin de téléphones à cadrans au cœur de Londres en 1971. La même année, il rachète un manoir près de Manchester afin d’y installer un atelier de réparation de téléphone.
            </p> <p>
            En 1980, il crée sa première filiale française, « Guy Téléphones France », société de vente  et réparation de téléphones à fils qui sera revendue en 1992 au groupe FranceTelecom.
            </p><p>
            En 1983, il crée « Guy Téléphones Sans Fils », et en 1995, « Guy Téléphones Mobiles ». En 1997, il se lance dans la vente par téléphone de téléphones ! Il va également utiliser les outils du moment avec 3615 GUY TELEPHONES MOBILES.
            </p><p>
            En 1999, il crée un portail Internet en vue de vendre ses téléphones dans le monde entier, et en 2001, il conclu un accord (à 50%-50%) avec l’entreprise « Sprint » pour entrer dans la téléphonie Mobile US.
            </p><p>
            En 2005, il se lance également dans la vente de batteries de téléphones, et de clips de ceintures. Il aura un partenariat avec un l'opérateur SFR pour lui fournir les appareils proposés à ses abonnés.
            </p><p>
            En 2009, Monsieur GUY intègrera sa famille au capital, afin de préparer l'avenir et sa succession. Son fils se forme au Management International au Campus d'Oxford et au CESI de Nantes.
            </p><p>
            En 2015, L'entreprise devient « Guy Mobiles ». À ce moment-là, les 3 enfants, Romane, Teddy et le plus jeune, Bruno, prennent la tête de l'empire familiale.
            </p> <p>
            En 2017, Facebook et Google entrent au capital du groupe, et participent ainsi au développement sur toute la planète, ce qui fait qu'aujourd'hui, nous sommes présent dans tous les pays du monde !
            </p> <p>
            En 2020, Le plus jeune des 3 frères, Bruno Guy, devient seul CEO du groupe. Romane ayant opté pour une paisible vie de famille, avec ses 8 enfants, et Teddy, pas très à l'aise avec la technologie, est devenu berger.
            </p><p>
            En 2021, l'entreprise devient « Mobile-Guy.com » et double ses ventes suite à la refonte de son ste internet.
            </p>
        </div>
        </div>
        </div>
    </section>

{% endblock %}