<div class="d-flex flex-wrap justify-content-around justify-content-lg-between p-15 footer-link">
    <a class="d-none d-md-block align-self-center link-guy" href="/terms-of-use">Conditions générales de ventes</a>
    <a class="d-none d-md-block align-self-center link-guy" href="/legal-notice"> Mentions légales</a>
    <div class="d-none d-md-block"><img src="img/icon/fav_icon.svg"></div>
    <a class="d-none d-md-block align-self-center link-guy" href="/contact">Contactez-nous</a>
    <div class="align-self-center">
            <p class="d-none d-md-block">Suivez-nous sur les réseaux :</p>
            <div class="text-center">
            <a href="https://www.instagram.com/brunochabassol/"><span><img src="img/icon/ic_instagram.svg"></span></a>
            <a href="https://twitter.com/CesiOuest?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><span><img src="img/icon/ic_twitter.svg"></span></a>
            <a href="https://www.facebook.com/profile.php?id=100009586323830"><span><img src="img/icon/ic_facebook.svg"></span></a>
            </div>
    </div>
</div>