<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="navbar-brand_img" src="/img/logo.svg"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link align-self-center" href="#">Nos smartphones</a>
                <a class="nav-link align-self-center" href="#">Nos accessoires</a>
                <a class="nav-link align-self-center" href="#">Qui sommes-nous ?</a>
                <div class="d-flex">
                    <a class="nav-link align-self-center" href="#"><img src="img/icon/ic_panier.png"></a>
                    <a class="nav-link align-self-center" href="#"><img src="img/icon/ic_accessibility.png"></a>
                    <a class="nav-link align-self-center" href="#"><img src="img/icon/ic_account.png"></a>
                </div>

            </div>
        </div>
    </div>
</nav>