<form method="post" action="{{ path('account_delete') }}" onsubmit="return confirm('Voulez-vous vraiment supprimer votre compte ? Vos commandes seront perdus');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">Supprimer</button>
</form>
