{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    <section class="banner_6">
    </section>

    <h1 class="text-center m-t-30 m-b-30">Inscription</h1>

    <div class="container">
        {{ include('user/_form.html.twig') }}
    </div>



{% endblock %}
