{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    <section class="">

    </section>
        <h1 class="text-center">Inscription</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('account_dashboard') }}">back to list</a>
{% endblock %}
